@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=REM:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=REM:wght@300&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Montserrat:wght@300&family=REM:wght@300&family=Zeyada&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    /* display: flex; */
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #b7b78a 50%, #3c6255 50%);
}
.hero-nav{
    /* background-color: red; */
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.nav-icon{
    display: none;
}
.logo{
    margin-left: 1.5vw;
    width: 60px;
    height: 60px;
    border: 3px solid green;
    border-radius: 50%;
}
.logo:hover{
    box-shadow: 10px 1px 8px gray;
}
/* .logo h4:hover{
    box-shadow: 3px 5px 8px gray;
} */
.logo h4{
    background-color: white;
    /* padding: 5px; */
    margin-left: 28px;
    margin-top: 14px;
    position: absolute;
    font-family: 'Libre Baskerville', serif;
    font-family: 'REM', sans-serif;
    font-family: 'Zeyada', cursive;
    font-size: 20px;
}
.nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 1.5vw;
    font-family: 'Libre Baskerville', serif;
    font-family: 'REM', sans-serif;
    font-weight: 700;
    /* transition: ease; */
}

.nav li{
    background: transparent;
    
}
.nav li:hover{
    /* transform: skew(10deg); */
    box-shadow: 10px 10px 50px rgb(30, 60, 38);

}
.hero-box{
    background-color: white;
    height: 90vh;
    width: 90vw;
    position: absolute;
    top: 5vh;
    left: 5vw;
}
.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    margin: 2vw;
    /* justify-content: space-evenly; */
}
.hero-text h3{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.hero-box h2{
    font-family: 'Montserrat', sans-serif;
    color: green;
    font-size: 2rem;
    font-weight: 1000;
}
.hero-box h4{
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
}
.hero-box button{
    padding: 8px 15px;
    background-color: green;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition-timing-function: ease;
}
.hero-box button:hover{
    cursor: pointer;
    background-color: aliceblue;
    /* transition: backgrond-color ease 2s; */
    color: black;
    transform: skew(10deg);
}
.line{
    width: 55px;
    flex-shrink: 3;
    background-color: green;
}
.nav-res{
    display: none;
}

@media (max-width:900px){
    .container{
        height: 100%;
        width: 100%;
    }
    i{
        font-size: 25px;
    }
    .hero-img img{
        width: 50vw;
        height: 40vw;
    }
    .hero-img{
        flex-direction: column;
    }
    .nav-icon{
        display: block;
        margin-right: 2vw;
        cursor: pointer;
    }
    
    .nav{
        display: none;
    }
    .nav-res{
        /* height: 80vh; */
        padding: 0px 20px;
        padding-bottom: 20px;
        background-color: #3c6255;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        /* margin-bottom: 10px; */
        font-family: 'Libre Baskerville', serif;
        font-family: 'REM', sans-serif;
        font-weight: 700;
        
        display: none;
    }
    .nav-res li:hover{
        scale: 1.05;
        box-shadow: 5px 5px 20px rgb(217, 225, 219);
        background-color: transparent;
    
    }
    .nav-res li{
        margin-top: 20px;
        color: white;
    }
    .nav-res-seen{
        display: block;
        position: absolute;
        transition-duration: 3s;
        transition-timing-function: ease-in-out;

        /* z-index: -1; */
        top:15vh;
        right: 4.5vw;
        
    }
    
}
